<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Travel Tips</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Trips You've Taken</a></li>
        <li><a href="#">Your Saved Trips</a></li>
        <li><a href="#">Plan New Trip</a></li>
        <li><a class="login">Login</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    {{!-- page title --}}
    <div class="col s12 center-align">
        <h3>Search Results!</h3>
    </div>
    <div class="row">
    	{{#each data.daty}}
    	 <div class="col s12 m4 center-align">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
            	<span class="card-title">City: {{city}}</span>
              <span class="card-title">Place: {{name}}</span>
              <img src=https://s3-us-west-2.amazonaws.com/travelbookpictures/{{image}} width="100%">
              <p>Review: {{review}}</p>
              <p><span class="rating">Rating: {{rating}}</span></p>
              <p>Price: {{price}}</p>
            </div>
            <div class="card-action">
              <a href="#">Add to Trip</a>
              <a href="#">Like</a>
            </div>
          </div>
    </div>
		{{/each}}
    </div>
</div>

{{>login}}