<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Travel Book</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="loginstuff friendPage">Friends</a></li>
      <li><a  class="loginstuff" href="/add">Add Post</a></li>
 <li><a class="loginstuff saved">My Posts</a></li>
       <li><a class="loginstuff future">My Travel Book</a></li>
      <li><a href="/">Plan New Trip</a></li>
      <li><a class="login">Login</a></li>
      <li><a class="logout">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  {{!-- page title --}}
  <div class="col s12 center-align">
    <h3>{{userPost.user}}'s Posts!</h3>
  </div>
  {{!-- results data --}}
  <div class="row">

    {{#each userPost.data}}
    <div class="col s12 m4 center-align">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Country: {{dataValues.country}}</span>
          <span class="card-title">City: {{dataValues.city}}</span>
          <span class="card-title">Place: {{dataValues.name}}</span>
          <img src=https://s3-us-west-2.amazonaws.com/travelbookpictures/{{dataValues.image}} width="100%">
          <p>Review: {{dataValues.review}}</p>
          <p><span class="rating">Rating: {{dataValues.rating}}</span></p>
          <p>Price: {{dataValues.price}}</p>
          <p>Category: {{dataValues.categories}}</p>
          <!-- <p>Written By: {{user.username}}</p> -->
        </div>
           
      </div>
    </div>
    {{/each}}
  </div>

<div class="row center-align">
    <div class="col s12">
        <button class="waves-effect waves-light btn back">Back</button>
      </div>
          

</div>
</div>
{{>login}}